.action-div {
  width: 45%;
  padding: 1em;
  background-color: rgb(46,53,61, 0.8) ;
  border-radius: 0.3em;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 1em;
}

.action-div, .action-div {
  display: inline-block;
}
